.hero-section {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 1rem;

  position: relative;
  width: 100%;
  height: 85vh;

  .curvedSvg {
    grid-column: 1 / -1;
    grid-row: 5 / 6;
    width: 100%;
    height: 16rem;
    z-index: 1;
    transform: translateY(1rem);
    transition: all 0.5s;
  }

  .title-area {
    grid-column: 1 / span 6;
    grid-row: 1 / -1;
    align-self: center;
    justify-self: center;

    svg.nameSVG {
      width: 62rem;
    }
  }

  .figure-area {
    position: relative;
    grid-column: 4 / -1;
    grid-row: 1 / -1;

    figure img {
      width: 100%;
      height: 100%;
    }

    figure.me {
      position: absolute;
      top: 20%;
      left: 36%;
      z-index: 4;
      width: 50rem;
      height: 55rem;
      img {
        transform: scale(0.95);
      }
    }
    figure.laptop {
      position: absolute;
      bottom: 3%;
      left: 16%;
      width: 36rem;
      height: 42rem;
      z-index: 3;
      img {
        transform: scale(1.15);
      }
    }
    figure.mouse {
      position: absolute;
      top: 8%;
      right: 12%;
      width: 25rem;
      height: 25rem;
      z-index: 3;
    }
    figure.coffee {
      position: absolute;
      top: 2%;
      left: 19%;
      width: 25rem;
      height: 25rem;
      z-index: 3;
    }
    figure.notepad {
      position: absolute;
      bottom: -6%;
      right: 6%;
      width: 43rem;
      height: 28rem;
      z-index: 3;
    }
  }
}
